<h1 class='text-center theme-color'>Log in</h1>

<div class="row">
  <div class="col-md-4 offset-4">
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name, class: 'column input' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: " mt-2 btn theme-btn", id: "log_in" %>
    <% end %>
  </div>
</div>

